<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Schedule of Operation</title>
  </head>
  <body>

    <h1><%= theDay %></h1>

    <!-- <% if(theDay === 'Saturday' || theDay === 'Sunday'){ %>
      <h1 style="color: green"><%= theDay %> Operations</h1>
    <% } else { %>
      <h1 style="color: purple"><%= theDay %> Operations</h1>
    <% } %> -->

  </body>
</html>
