<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Schedule of Operation</title>
  </head>
  <body>
    <h1>Today is <%= theDay %>!</h1>
  </body>
</html>
